+
*
{
  margin: 0;
  padding: 0;
}
body
{
background: #F0FBFB;
  background-size: cover;
  background-position: center;
}
nav
{
  width:100%;
  background: white;
  overflow: auto;
}
nav ul
{
  padding: 0;
  margin: 0 0 0 180px;
  list-style: none;
  
}
nav li
{
  float: left;
}
.logo img 
{
  position: absolute;
  height: 60px;
  width: auto;
  size: 20px;
  
}
nav a 
{
  width: 100px;
  display: block;
  padding: 20px 15px;
  text-decoration: none;
  font-family: Arial;
  color: #223737;
  text-align: center;
}
nav a:hover
{
  background: #89d2dc;
  transition: 0.5s;
  text-transform: uppercase;
}

.welcome
{
  margin-top: 0px;
  padding: 68px;
  text-align:center;
  color:  #75C1C1;
  font-size: 50px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("pexels-pixabay-267885.jpg");
  background-position: center;
    background-size: cover;
}
  
.welcome_message
{
  padding: 10px;
  margin-bottom: 0px;
  font-weight: 300;
  font-size: 20px;
  text-align:center;
  color:  #75C1C1;
}
  

.p1about
{
  padding: 50px;
  color:  #223737;
  font-size: 20px;
  text-align: justify;
  text-indent: 50px;
  display: block;
  line-height: 33px;
  font-family: "Times New Roman", Times, serif;
}
.clickToDownload
{
  padding: 20px;
  font-size: 30px;
  font-family:Arial, sans-sarif; 
  font-weight:bold;
  text-align:justify;
  color:  #223737;
}
  
.lists
{
  position: relative;
}
.lists ul
{
  position: relative;
  font-size: 150%;
  
 
}
.lists ul li
{
  position: relative;
  left:0;
  color: black;
  font-size: 100%;
  list-style: none;
  margin: 4px 0;
  border-left: 3px solid lightblue;
  transition: 0.5s;
  cursor: pointer;
 
}
.lists ul li::before
{
  content:'';
  position: absolute;
  width: 100%;
  height: 100%;
  background: lightblue;
  transform: scaleX(0);
  transform-origin: left;
  transition:0.5s;
  
}
.lists ul li:hover::before
{
  transform: scaleX(1);
}

.lists ul li:hover
{
  left: 10px;
  
}
.lists ul li a
{
  position: relative;
  padding: 8px;
  display: inline-block;
  z-index: 1;
  transition: 0.5s;
  text-decoration: none;
  color: black;
}

.lists ul li:hover a
{
  color: black;
}

.social_icons ul
{
  position:absolute;
  top: 80%;
  left: 50%;
  padding: 100px;
  margin: 55px;
  transform: translate(-50%,-50%);
  display: flex;
  
}
.social_icons ul li
{
  list-style: none;
  margin: 0px 15px;
  
  
  
}
.social_icons ul li ion-icon
{
  font-size: 30px;
  line-height: 60px;
  transition: o.6s;
  color: black;
 
}
.social_icons ul li ion-icon:hover
{
  color:white ;
}

.social_icons ul li a
{
  position: relative;
  display: block;
  border-radius: 100%;
  background-color: #fff;
  text-align: center;
  transition: 0.6s;
  box-shadow: 0 5px 4px #548989;
  
}
.social_icons ul li a:hover
{
  transform: translate(0, -10px);
}
.social_icons ul li:nth-child(1) a:hover
{
  background-color:  #c32aa3;
}
.social_icons ul li:nth-child(2) a:hover
{
  background-color:  #430297;
}
.social_icons ul li:nth-child(3) a:hover
{
  background-color: grey;
}

.recommendations
{
  margin: 0;
  padding: 10px;
  font-family: arial;
  background: #548989;
  align-items: left;
}
.recommendations h2
{
  padding: 10px;
  color: #223737;
  margin-bottom: 10px;
  margin-left: 10px;
  display:inline-block;
  font-weight: 500;
  border-bottom: 2px solid #fff;
}
.recommendations ul
{
  list-style: none;
  padding: 0px;
}
.recommendations ul li
{
  padding: 10px;
}
.recommendations ul li:hover
{
  transform: scale (1.1);
  z-index: 100;
  background: lightblue; 
  box-shadow: 0px 5px 25px; 
}
.recommendations ul li a
{
  text-decoration: none;
  color: black;
}

.hero-image {
margin-top: 45px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://media.architecturaldigest.com/photos/5af4aed7da68792ef45e50a4/master/w_3865,h_2576,c_limit/16%20Nacpan.jpg");


  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}


.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
